.bakersclub-featured-content {
  &__items {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  &__item {
    flex-basis: 100%;
    width: 100%;
    max-width: 450px;
    margin: 0;
  }

  &__item-title {
    padding: 0.5em 0.75em 1em;
  }

  &__label {
    left: -0.35em;
  }
}
